//Creo las variables//
$color-facebook: #3b5998;
$color-instagram: #E1306C;
$color-whatsApp: #25D366;
$letra-titulo-subtitulo: "Satisfy", cursive;
//genero bloques reutilizables "extends"//
%texto-normal-centrado {
    font-style: normal;
  text-align: center;
}
//Genero bloques donde puedo modificar valores "mixes"//
@mixin EstiloLetra($grosor,$tam){
    font-weight: $grosor;
    font-size: $tam;
}

.Titulo {
  font-family: $letra-titulo-subtitulo;
  @include EstiloLetra(400,6rem );
  @extend %texto-normal-centrado;
  
}
.Subtitulo {
    text-align: center;
    font-family: $letra-titulo-subtitulo;
}
.img-top{
    padding-top: 5rem;
    max-width: 100%;
    max-height: 100%;

}
.TextoDescriptivo{
    font-family: $letra-titulo-subtitulo;
    @include EstiloLetra(400,3.5rem );
    @extend %texto-normal-centrado;
    
}
.SubTextoDescriptivo{
    font-size: 1.5rem;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.card-title{
  font-family: $letra-titulo-subtitulo;
  @include EstiloLetra(400,3rem );
  @extend %texto-normal-centrado;
  
  }

.card-text-hab{
    margin: 2rem
}

.iconos-redes a {
  color: white;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.iconos-redes a.instagram:hover {
  color: $color-instagram
}

.iconos-redes a.facebook:hover {
  color: $color-facebook
}

.iconos-redes a.whatsapp:hover {
  color: $color-whatsApp
}

