
.Titulo {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 600%;
}
.Subtitulo {
    text-align: center;
}
.img-top{
    padding-top: 5rem;
    max-width: 100%;
    max-height: 100%;

}
.TextoDescriptivo{
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 350%;
    text-align: start;
}
.SubTextoDescriptivo{
    font-size: 150%;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.card-title{
    font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 300%;
  }

.card-text-hab{
    margin: 2rem
}

.iconos-redes a {
  color: white;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.iconos-redes a.instagram:hover {
  color: #E1306C; /* rosa Instagram */
}

.iconos-redes a.facebook:hover {
  color: #3b5998; /* azul Facebook */
}

.iconos-redes a.whatsapp:hover {
  color: #25D366; /* verde WhatsApp */
}
